<p-toast key="msgToast"></p-toast>
<p-sidebar [(visible)]="displayFormTask" styleClass="p-sidebar-sm" position="right">
    <form [formGroup]="formTask" (ngSubmit)="onSubmitTask($event)" *ngIf="selectedTask.type && selectedTask.type.name">
        <label for="percentageAdvance">Porcentaje de Avance:</label>
        <p-inputNumber id="percentageAdvance" name="percentageAdvance" formControlName="percentage_advance"
                       class="p-mr-2" min="1" max="100" suffix="%"></p-inputNumber>
        <label for="observationTask">Observaciones:</label>
        <textarea type="text" pInputTextarea id="observationTask" name="observationTask" formControlName="observation"
                  class="p-mt-2"></textarea>
        <button type="submit" pButton class="p-button-raised p-mt-2" label="Guardar" icon="pi pi-check"
                pRipple></button>
        <div *ngIf="formTask.get('percentage_advance').errors && formTask.get('percentage_advance').touched">
            <small *ngIf="formTask.get('percentage_advance').hasError('required')"
                   id="percentageAdvanceHelp" class="p-invalid">
                Debe ingresar un valor mayor a 0.
            </small>
        </div>
    </form>
    <hr>
    <p-accordion>
        <p-accordionTab [header]="process.name" *ngFor="let process of processes">
            <p-table #dt
                     [responsive]="true"
                     [value]="process.children"
                     [columns]="colsActivies"
                     [rowHover]="true"
                     selectionMode="single"
                     [(selection)]="selectedTask.type"
                     dataKey="id"
            >
                <ng-template pTemplate="body" let-activity>
                    <tr [pSelectableRow]="activity" (click)="displayFormTask=true;selectedTab=2">
                        <td>
                            <span class="p-text-capitalize">{{activity.name.toLocaleLowerCase()}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</p-sidebar>
<p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-overlayPanel #opTasks>
    <ng-template pTemplate>
        <ul>
            <li *ngFor="let task of selectedUser.attendance.tasks" class="p-mb-3">
                {{task.type.name}}
                <button pButton
                        type="button"
                        label=""
                        class="p-button-danger p-button-raised p-button-sm p-ml-2"
                        icon="pi pi-trash"
                        pTooltip="Eliminar"
                        pRipple
                        (click)="deleteTask(task)"></button>
            </li>
        </ul>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opCalendarWokrkdays [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <h6>Fecha de inicio:</h6>
                <p-calendar [(ngModel)]="selectedStartDate"
                            dateFormat="yy/mm/dd"
                            icon="pi pi-calendar-minus"
                            showIcon="true"
                            class="p-my-3 p-ml-3"
                            [monthNavigator]="true"
                            readonlyInput="true">
                </p-calendar>
            </div>
            <div class="p-field p-col">
                <h6>Fecha de fin:</h6>
                <p-calendar [(ngModel)]="selectedEndDate"
                            dateFormat="yy/mm/dd"
                            icon="pi pi-calendar-plus"
                            showIcon="true"
                            class="p-my-3 p-ml-3"
                            [monthNavigator]="true"
                            readonlyInput="true">
                </p-calendar>
            </div>
        </div>
        <div class="p-field">
            <button type="button" pButton pRipple label="Descargar" icon="pi pi-download"
                    class="p-button-raised" (click)="generateAttendancesReport()"></button>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opCalendarTasks [showCloseIcon]="true">
    <ng-template pTemplate>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <h6>Fecha de inicio:</h6>
                <p-calendar [(ngModel)]="selectedStartDate"
                            dateFormat="yy/mm/dd"
                            icon="pi pi-calendar-minus"
                            showIcon="true"
                            class="p-my-3 p-ml-3"
                            [monthNavigator]="true"
                            readonlyInput="true">
                </p-calendar>
            </div>
            <div class="p-field p-col">
                <h6>Fecha de fin:</h6>
                <p-calendar [(ngModel)]="selectedEndDate"
                            dateFormat="yy/mm/dd"
                            icon="pi pi-calendar-plus"
                            showIcon="true"
                            class="p-my-3 p-ml-3"
                            [monthNavigator]="true"
                            readonlyInput="true">
                </p-calendar>
            </div>
        </div>
        <div class="p-field">
            <button type="button" pButton pRipple label="Descargar" icon="pi pi-download"
                    class="p-button-raised" (click)="generateTasksReport()"></button>
        </div>
    </ng-template>
</p-overlayPanel>

<div class="p-grid">
    <div *ngFor="let item of user.institutions"
         class="p-xl-3 p-lg-3 p-md-6 p-sm-12">
        <p-card (click)="selectInstitution(item)" class="p-text-center"
                [styleClass]="item.id === institution.id?'background-card-selected':'background-card-noselected'">
            <img [src]="STORAGE_URL+item.logo" alt="logo" height="50px"
                 class="p-button p-button-text">
            <br>
            <button type="button" pButton label="{{item.short_name}}" class="p-button-text"
                    [icon]="item.id === institution.id?'pi pi-check':'pi'"></button>
        </p-card>
    </div>
    <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <div class="p-grid">
            <div class="p-lg-12 p-md-12 p-sm-12">
                <p-fieldset legend="Registro de asistencias" [toggleable]="true" collapsed="false">
                    <hr>
                    <div class="p-grid">
                        <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
                            <span class="p-input-icon-right p-my-3 p-ml-3">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText id="searchUserWorkdays" name="searchUserWorkdays"
                                       [(ngModel)]="searchUserWorkdays"
                                       (keyup)="findUserWorkdays()"
                                       placeholder="Buscar por apellidos, nombres, cédula...">
                            </span>

                            <p-calendar [(ngModel)]="selectedDate"
                                        dateFormat="yy/mm/dd"
                                        icon="pi pi-calendar"
                                        showIcon="true"
                                        class="p-my-3 p-ml-3"
                                        [monthNavigator]="true"
                                        readonlyInput="true"
                                        (onSelect)="getAttendances()">
                            </p-calendar>

                            <button pButton type="button"
                                    label="Recargar"
                                    icon="pi pi-refresh"
                                    pRipple
                                    class="p-my-3 p-ml-3"
                                    (click)="getAttendances()"></button>

                            <button pButton type="button"
                                    label="Reporte de asistencia"
                                    icon="pi pi-file-excel"
                                    pRipple
                                    class="p-button-info p-my-3 p-ml-3"
                                    (click)="opCalendarWokrkdays.show($event)"></button>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid">
                        <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
                            <p-radioButton name="groupname" value="ABSENT" label="Ausentes" class="p-my-3 p-ml-3"
                                           [(ngModel)]="selectedValue" (click)="getAttendances()"></p-radioButton>

                            <p-radioButton name="groupname" value="PRESENT" label="Presentes" class="p-my-3 p-ml-3"
                                           [(ngModel)]="selectedValue" (click)="getAttendances()"></p-radioButton>

                            <p-radioButton name="groupname" value="NO_WORK" label="Jornada sin finalizar"
                                           class="p-my-3 p-ml-3"
                                           [(ngModel)]="selectedValue" (click)="getAttendances()"></p-radioButton>

                            <p-radioButton name="groupname" value="NO_LUNCH" label="Almuerzo sin finalizar"
                                           class="p-my-3 p-ml-3" [(ngModel)]="selectedValue"
                                           (click)="getAttendances()"></p-radioButton>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid">
                        <div class="p-xl-12 p-lg-12 p-md-12">
                            <p-message *ngIf="usersWorkdays.length===0" severity="info"
                                       text="No hay registros."></p-message>
                        </div>

                        <div class="p-xl-2 p-lg-3 p-md-4" *ngFor="let user of usersWorkdays">
                            <p-card [style]="{width: '250px'}" styleClass="p-card-shadow">
                                <div class="p-text-center">
                                    <p class="p-text-secondary">
                                        {{user.first_lastname + ' ' + user.second_lastname}}
                                    </p>
                                    <p class="p-text-secondary">
                                        {{user.first_name + ' ' + user.second_name}}
                                    </p>
                                    <hr>
                                    <img [src]="STORAGE_URL+user.avatar" alt="avatar"
                                         width="100px"
                                         height="100px"
                                         style="border-radius: 50%;">

                                    <img *ngIf="!user.attendance"
                                         src="assets/layout/images/pages/attendance/not_work.png" alt=""
                                         width="50px"
                                         height="50px"
                                         pTooltip="No ha iniciado su jornada de trabajo">
                                    <hr>
                                    <p-message *ngIf="user.institutions.length===0"
                                               severity="info"
                                               text="Sin Institución"></p-message>
                                    <p *ngFor="let institution of user.institutions" style="font-size: 9px"
                                       class="p-text-secondary">
                                        {{institution.denomination}} {{institution.name}}
                                    </p>
                                </div>
                                <hr>
                                <!--Boton para iniciar jornada-->
                                <div *ngIf="!user.attendance" class="p-text-center">
                                    <button pButton type="button"
                                            label="Iniciar Jornada!"
                                            class="p-button-text"
                                            icon="pi pi-check"
                                            pRipple
                                            (click)="openModalStartWorkday(user)"></button>
                                </div>
                                <div *ngIf="user.attendance">
                                    <div *ngFor="let workday of user.attendance.workdays" class="p-text-center">
                                        <div *ngIf="workday.end_time!==null && workday.type.code==='WORK'">
                                            <b>{{workday.start_time}} - {{workday.end_time}}</b>
                                            <p-message
                                                    severity="info"
                                                    text="Cambiar Jornada"
                                                    class="p-button p-button-text"
                                                    (click)="openModalWorkday(user,workday)">
                                            </p-message>
                                            <hr>
                                        </div>
                                        <div *ngIf="workday.end_time!==null && workday.type.code==='LUNCH'">
                                            <b>{{workday.start_time}} - {{workday.end_time}}</b>
                                            <p-message
                                                    severity="info"
                                                    text="Cambiar Almuerzo"
                                                    class="p-button p-button-text"
                                                    (click)="openModalWorkday(user,workday)">
                                            </p-message>
                                            <hr>
                                        </div>
                                        <div *ngIf="workday.end_time===null && workday.type.code==='WORK'">
                                            <b>{{workday.start_time}}</b>
                                            <p-message
                                                    severity="warn"
                                                    class="p-button p-button-text"
                                                    text="Finalizar Jornada"
                                                    (click)="openModalEndWorkday(user,workday)">
                                            </p-message>
                                            <hr>
                                        </div>
                                        <div *ngIf="workday.end_time===null && workday.type.code==='LUNCH'">
                                            <b>{{workday.start_time}}</b>
                                            <p-message
                                                    severity="warn"
                                                    class="p-button p-button-text"
                                                    text="Finalizar Almuerzo"
                                                    (click)="openModalEndWorkday(user,workday)">
                                            </p-message>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>

    <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <div class="p-grid">
            <div class="p-lg-12 p-md-12 p-sm-12">
                <p-fieldset legend="Registro de actividades" [toggleable]="true" collapsed="true">
                    <hr>
                    <div class="p-grid">
                        <div class="p-xl-12 p-lg-12 p-md-12 p-sm-12">
                            <span class="p-input-icon-right p-m-3">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText id="searchUserTasks" name="searchUserTasks"
                                       [(ngModel)]="searchUserActivities"
                                       (keyup)="findUserActivities()"
                                       placeholder="Buscar por apellidos, nombres, cédula...">
                            </span>
                            <p-calendar [(ngModel)]="selectedDate"
                                        dateFormat="yy/mm/dd"
                                        icon="pi pi-calendar"
                                        showIcon="true"
                                        class="p-my-3 p-ml-3"
                                        [monthNavigator]="true"
                                        readonlyInput="true"
                                        (onSelect)="getAttendances()">
                            </p-calendar>
                            <button pButton type="button"
                                    label="Recargar"
                                    icon="pi pi-refresh"
                                    pRipple
                                    class="p-my-3 p-ml-3"
                                    (click)="getAttendances()"></button>
                            <button pButton type="button"
                                    label="Reporte de actividades"
                                    icon="pi pi-file-excel"
                                    pRipple
                                    class="p-button-info p-my-3 p-ml-3"
                                    (click)="opCalendarTasks.show($event)"></button>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid">
                        <div class="p-xl-12 p-lg-12 p-md-12">
                            <p-message *ngIf="usersActivities.length===0" severity="info"
                                       text="No hay registros."></p-message>
                        </div>
                        <div class="p-xl-2 p-lg-3 p-md-4" *ngFor="let user of usersActivities">
                            <p-card [style]="{width: '250px'}" styleClass="p-card-shadow">
                                <div class="p-text-center">
                                    <p class="p-text-secondary">
                                        {{user.first_lastname + ' ' + user.second_lastname}}
                                    </p>
                                    <p class="p-text-secondary">
                                        {{user.first_name + ' ' + user.second_name}}
                                    </p>
                                    <hr>
                                    <div *ngIf="user.attendance">
                                        <img [src]="STORAGE_URL+user.avatar" alt=""
                                             width="100px"
                                             height="100px"
                                             style="border-radius: 50%;">
                                        <img *ngIf="user.attendance.tasks.length===0"
                                             src="assets/layout/images/pages/attendance/no_activity.png"
                                             alt=""
                                             width="50px"
                                             height="50px"
                                             pTooltip="No tiene actividades registradas">
                                        <img *ngIf="user.attendance.tasks.length>0"
                                             src="assets/layout/images/pages/attendance/activity.png"
                                             alt=""
                                             width="50px"
                                             height="50px">
                                    </div>
                                    <div *ngIf="!user.attendance">
                                        <img [src]="STORAGE_URL+user.avatar" alt=""
                                             width="100px"
                                             height="100px"
                                             style="border-radius: 50%;">
                                        <img src="assets/layout/images/pages/attendance/not_work.png" alt=""
                                             pTooltip="No está trabajando"
                                             width="50px"
                                             height="50px">
                                    </div>
                                    <hr>
                                    <button *ngIf="user.attendance" pButton type="button"
                                            label="Registrar"
                                            class="p-button-text"
                                            icon="pi pi-user-edit"
                                            pRipple
                                            (click)="selectedUser=user;displayFormTask=true"></button>
                                    <button *ngIf="user.attendance && user.attendance.tasks.length>0" pButton
                                            type="button"
                                            label="Ver Actividades"
                                            class="p-button-text"
                                            icon="pi pi-eye"
                                            pRipple
                                            (click)="selectedUser=user;opTasks.toggle($event)"></button>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>

    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
        <p-card header="Asistencia Diaria">
            <p-calendar [(ngModel)]="selectedDate"
                        dateFormat="yy/mm/dd"
                        icon="pi pi-calendar"
                        showIcon="true"
                        [monthNavigator]="true"
                        readonlyInput="true"
                        class="p-ml-3"
                        (onSelect)="getAttendances()">
            </p-calendar>
            <button pButton type="button"
                    label="Recargar"
                    icon="pi pi-refresh"
                    pRipple
                    class="p-mt-2 p-ml-3"
                    (click)="getAttendances()"></button>
            <hr>
            <p-chart type="pie" [data]="dataAttendances" [options]="optionsChartAttendances"></p-chart>
        </p-card>
    </div>

    <div class="p-xl-6 p-lg-6 p-md-12 p-sm-12">
        <p-card header="Histórico de Actividades">
            <button pButton type="button"
                    label="Recargar"
                    icon="pi pi-refresh"
                    pRipple
                    class="p-mt-2 p-ml-3"
                    (click)="fillChartActivities()"></button>
            <hr>
            <p-chart type="pie" [data]="dataActivities" [options]="optionsChartActivities"></p-chart>
        </p-card>
    </div>
</div>

<form [formGroup]="formWorkday" (ngSubmit)="onSubmitStartWorkday($event)">
    <p-dialog [(visible)]="dialogFormStartWorkday" [style]="{width: '450px'}" header="Iniciar Jornada" [modal]="true"
              styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="startTime">Hora de inicio:</label>
                <input type="time" pInputText id="startTime" name="startTime"
                       formControlName="start_time" autofocus/>
            </div>
            <div class="p-field">
                <label for="observationsStartWokday">Observaciones:
                </label>
                <textarea id="observationsStartWokday" name="observationsStartWokday" pInputTextarea
                          formControlName="observation"></textarea>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-text" (click)="dialogFormStartWorkday=false"></button>
            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save"
                    class="p-button-raised"></button>
        </ng-template>
    </p-dialog>
</form>

<form [formGroup]="formWorkday" (ngSubmit)="onSubmitEndWorkday($event)">
    <p-dialog [(visible)]="dialogFormEndWorkday" [style]="{width: '450px'}" header="Finalizar Jornada" [modal]="true"
              styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="endTime">Hora de fin:</label>
                <input type="time" pInputText id="endTime" name="endTime"
                       formControlName="end_time"/>
            </div>
            <div class="p-field">
                <label for="observationsEndWorkday">Observaciones:
                </label>
                <textarea id="observationsEndWorkday" name="observationsEndWorkday" pInputTextarea
                          formControlName="observation"></textarea>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-text" (click)="dialogFormEndWorkday=false"></button>
            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save"
                    class="p-button-raised"></button>
        </ng-template>
    </p-dialog>
</form>

<form [formGroup]="formWorkday" (ngSubmit)="onSubmitWorkday($event)">
    <p-dialog [(visible)]="dialogFormWorkday" [style]="{width: '450px'}" header="Modificar Jornada" [modal]="true"
              styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="startTime">Hora de inicio:</label>
                    <input type="time" pInputText id="startTime" name="startTime"
                           formControlName="start_time" autofocus/>
                </div>
                <div class="p-field p-col">
                    <label for="endTime">Hora de fin:</label>
                    <input type="time" pInputText id="endTime" name="endTime"
                           formControlName="end_time"/>
                </div>
            </div>
            <div class="p-field">
                <label for="observationsWokday">Observaciones:
                </label>
                <textarea id="observationsWokday" name="observationsWokday" pInputTextarea
                          formControlName="observation"></textarea>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-text" (click)="dialogFormWorkday=false"></button>
            <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save"
                    class="p-button-raised"></button>
        </ng-template>
    </p-dialog>
</form>
