.background-valid {
  background-color: #ef9a9a;
}
.background-invalid {
  background-color: #ef9a9a;
}
.background-card-selected{
  background-color: #ffffff;
}
.background-card-noselected{
  background-color: #eceff1;
}
