<div class="p-formgrid p-grid">
    <form [formGroup]="form" novalidate class="p-grid">
        <div class="p-field p-col">
            <label for="carrera">Carrera:</label>
            <p-autoComplete formControlName="carrer" [suggestions]="careers"
                (completeMethod)="filterAssignedLines($event)" [minLength]="1" [dropdown]="true">
                <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:18px;margin:10px 10px 0 0">{{brand}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="p-field p-col">
            <label for="objeto">Objeto:</label>
            <input formControlName="aim" type="text" pInputText placeholder="Objeto">
        </div>

        <div class="p-field p-col">
            <label for="ciclo">Ciclo:</label>
            <input formControlName="cycle" type="text" pInputText placeholder="Ej: Pirmero, Segundo, Tercero">
        </div>

        <div class="p-field p-col">
            <label for="modalidad">Modalidad:</label>
            <input formControlName="modality" disabled type="text" pInputText placeholder="modalidad">
        </div>
        
        <div class="p-field p-col">
            <label for="carrera">Parroquia:</label>
            <p-autoComplete formControlName="carrer" [suggestions]="careers"
                (completeMethod)="filterAssignedLines($event)" [minLength]="1" [dropdown]="true">
                <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:18px;margin:10px 10px 0 0">{{brand}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="p-field p-col">
            <label for="carrera">Canton:</label>
            <p-autoComplete [suggestions]="careers"
                (completeMethod)="filterAssignedLines($event)" [minLength]="1" [dropdown]="true">
                <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:18px;margin:10px 10px 0 0">{{brand}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="p-field p-col">
            <label for="carrera">Provincia:</label>
            <p-autoComplete [suggestions]="careers"
                (completeMethod)="filterAssignedLines($event)" [minLength]="1" [dropdown]="true">
                <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div style="font-size:18px;margin:10px 10px 0 0">{{brand}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="p-field p-col">
            <label for="plazo">Plazo de ejecucion:</label>
            <input formControlName="lead_time" disabled="disabled" type="text" pInputText placeholder="Plazo de ejecucion">
        </div>

        <div class="p-field p-col">
            <label for="fechaPresentacion">Fecha presentacion:</label>
            <p-calendar formControlName="delivery_date" [showIcon]="true" placeholder="Fecha presentacion">
            </p-calendar>
            <label for="fechaInicio">Fecha inicio:</label>
            <p-calendar formControlName="start_date" [showIcon]="true" placeholder="Fecha inicio"></p-calendar>
            <label for="fechaFinal">Fecha final:</label>
            <p-calendar formControlName="end_date" [showIcon]="true" placeholder="Fecha final"></p-calendar>
        </div>
    </form>
</div>