<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
	<div class="login-content">
		<div class="night-switch">
			<p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="dark = true"></p-button>
			<p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="dark = false"></p-button>
		</div>
		<div class="login-panel">
			<div class="login-panel-content">
				<div class="logo">
					<img src="assets/layout/images/login/unlock.png" alt="mirage-layout"/>
				</div>
				<h1>Desbloquear Usuario</h1>
				<div class="forms">
					<form [formGroup]="formPasswordReset" (ngSubmit)="onSubmitResetPassword($event)">
						<div class="login-input-wrapper">
							<label for="username">Usuario:</label>
							<button id="username" name="username" pButton type="button"
									[label]="formPasswordReset.controls['username'].value"
									class="p-button-raised p-button-lg" iconPos="right"
									icon="pi pi-user" style="width: 100%;"></button>
						</div>
						<div class="login-input-wrapper">
							<label for="password">Nueva Contraseña:</label>
							<input id="password" name="password" type="password" pPassword formControlName="password"
								   placeholder="Mínimo 6 caracteres" [feedback]="false"
								   [showPassword]="flagShowPassword"/>
							<i (click)="flagShowPassword=!flagShowPassword" class="pi"
							   [ngClass]="{'pi-eye-slash':flagShowPassword,'pi-eye':!flagShowPassword}"
							   [pTooltip]="flagShowPassword?'Ocultar Contraseña':'Mostrar Contraseña'"></i>
							<div *ngIf="formPasswordReset.get('password').errors && formPasswordReset.get('password').touched">
								<small id="passwordHelp" class="p-invalid"
									   *ngIf="formPasswordReset.get('password').hasError('required')">
									Password is required.
								</small>
								<small id="passworMinLengthdHelp" class="p-invalid"
									   *ngIf="formPasswordReset.get('password').hasError('minlength')">
									Password minlength is 6.
								</small>
							</div>
							<small id="passwordValidateHelp" class="p-invalid"
								   *ngIf="formPasswordReset.controls['password'].value !== formPasswordReset.controls['password_confirm'].value">
								Passwords not match.
							</small>
						</div>
						<div class="login-input-wrapper">
							<label for="passwordConfirm">Confimar Contraseña:</label>
							<input id="passwordConfirm" name="passwordConfirm" type="password" pPassword
								   formControlName="password_confirm"
								   placeholder="Mínimo 6 caracteres" [feedback]="false"
								   [showPassword]="flagShowPassword"/>
							<i (click)="flagShowPassword=!flagShowPassword" class="pi"
							   [ngClass]="{'pi-eye-slash':flagShowPassword,'pi-eye':!flagShowPassword}"
							   [pTooltip]="flagShowPassword?'Ocultar Contraseña':'Mostrar Contraseña'"></i>
							<div *ngIf="formPasswordReset.get('password_confirm').errors && formPasswordReset.get('password_confirm').touched">
								<small id="passwordConfirmdHelp" class="p-invalid"
									   *ngIf="formPasswordReset.get('password_confirm').hasError('required')">
									Password Confirm is required.
								</small>
								<small id="passworConfirmMinLengthdHelp" class="p-invalid"
									   *ngIf="formPasswordReset.get('password_confirm').hasError('minlength')">
									Password minlength is 6.
								</small>
							</div>
							<small id="passwordConfirmValidateHelp" class="p-invalid"
								   *ngIf="formPasswordReset.controls['password'].value !== formPasswordReset.controls['password_confirm'].value">
								Passwords not match.
							</small>
						</div>
						<div class="buttons">
							<button id="resetPassword" name="resetPassword" type="submit" pButton
									label="Desbloquear" icon="pi pi-refresh"></button>
							<button id="login" name="login" type="button" pButton icon="pi pi-sign-in"
									label="Ir al Login" [routerLink]="['/auth/login']"></button>
						</div>
						<p-messages [value]="msgs"></p-messages>
					</form>
				</div>
			</div>
		</div>
		<div class="desert"></div>
	</div>
</div>
